<style>
  .field_with_errors { display: inline; }
</style>


<h1>Cadastre um imóvel</h1>


<% if @property.errors.any? %>
  <ul>
    <% @property.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @property) do |f| %>
  <div>
    <%= f.label :property_type_id, 'Tipo de propriedade:' %>
    <%= f.select :property_type_id, @property_types.map {|p_type| [p_type.name, p_type.id]} %>
  </div>
  <%= link_to "O seu tipo de propriedade não está na lista?", new_property_type_path, :id => 'type_register_link' %>
  <div>
    <%= f.label :property_location_id, 'Região da propriedade:' %>
    <%= f.select :property_location_id, @property_locations.map {|l_type| [l_type.name, l_type.id]} %>
  </div>
  <%= link_to "A sua região não está na lista?", new_property_location_path, :id => 'location_register_link' %>
  <div>
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :rooms, 'Quartos' %>
    <%= f.number_field :rooms %>
  </div>
  <div>
    <%= f.label :bathrooms, 'Banheiros' %>
    <%= f.number_field :bathrooms %>
  </div>
  <div>
    <%= f.label :daily_price, 'Diária' %>
    <%= f.text_field :daily_price %>
  </div>
  <div>
    <%= f.check_box :allow_pets %>
    <%= f.label :allow_pets, 'Aceita Pets' %>
  </div>
  <div>
    <%= f.check_box :parking_available %>
    <%= f.label :parking_available, 'Vaga de Estacionamento' %>
  </div>
  <%= f.submit 'Enviar' %>
<% end %>

<%= link_to 'Voltar', root_path, :class => 'back_button' %>