<div id = information>
    <h1 class='title'><%= @property.title %></h1>
    <h2 class='description'><%= @property.description %></h2>
    <aside> <%= link_to 'Editar', edit_property_path(@property), :id => 'edit_link' %> </aside>
    <dl>
        <dt>Tipo:</dt>
        <dd class='property_type'> <%= @property.property_type.name.capitalize %></dd>

        <dt>Região:</dt>
        <dd class='property_location'> <%= @property.property_location.name %></dd>

        <dt>Número de quartos:</dt>
        <dd class='rooms'><%= @property.rooms %></dd>
        
        <dt>Número de banheiros:</dt>
        <dd class='bathrooms'><%= @property.bathrooms %></dd>
        
        <dt>Tem estacionamento?</dt>
        <dd class='parking_available'><%= @property.parking_available ? 'sim' : 'não' %></d>
        
        <dt>Permite pets?</dt>
        <dd class='allow_pets'> <%= @property.allow_pets ? 'sim' : 'não' %></dd>
        
        <dt>Preço da diária:</dt>
        <dd class='daily_price'> <%= number_to_currency(@property.daily_price, unit: 'R$', separator: ',', format: "%u %n") %></dd>
    <dl>
</div>

<%= link_to 'Voltar', root_path, :class => 'back_button' %>