<aside> <%= link_to 'Editar', edit_property_path(@property), :id => 'edit_link' %> </aside>
<div id = information>
    <h3 class='title'><%= @property.title %></h3>
    <h4 class='description'><%= @property.description %></p>
    <h4 class='property_type'>Tipo: <%= @property.property_type.name.capitalize %></p>
    <p class='rooms'>Número de cômodos:<%= @property.rooms %></p>
    <p class='bathrooms'>Número de banheiros:<%= @property.bathrooms %></p>
    <p class='parking_available'>Estacionamento: <%= @property.parking_available ? 'sim' : 'não' %></p>
    <p class='allow_pets'>Permite pets: <%= @property.allow_pets ? 'sim' : 'não' %></p>
    <h4 class='daily_price'>Preço da diária: R$ <%= @property.daily_price %></h4>
</div>

<%= link_to 'Voltar', root_path, :class => 'back_button' %>