<div id = information>
    <h1 class='title'><%= @property.title %></h1>
    <h2 class='description'><%= @property.description %></h2>
    <aside> <%= link_to 'Editar', edit_property_path(@property), :id => 'edit_link' %> </aside>
    <dl>
        <dt>De:</dt>
        <dd class='property_owner'> <%= @property.property_owner.email %></dd>

        <dt>Tipo:</dt>
        <dd class='property_type'> <%= @property.property_type.name.capitalize %></dd>

        <dt>Região:</dt>
        <dd class='property_location'> <%= @property.property_location.name %></dd>

        <dt>Número de quartos:</dt>
        <dd class='rooms'><%= @property.rooms %></dd>
        
        <dt>Número de banheiros:</dt>
        <dd class='bathrooms'><%= @property.bathrooms %></dd>
        
        <dt>Tem estacionamento?</dt>
        <dd class='parking_available'><%= @property.parking_available ? 'sim' : 'não' %></d>
        
        <dt>Permite pets?</dt>
        <dd class='allow_pets'> <%= @property.allow_pets ? 'sim' : 'não' %></dd>
        
        <dt>Preço da diária:</dt>
        <dd class='daily_price'> <%= number_to_currency(@property.daily_price, unit: 'R$', separator: ',', format: "%u %n") %></dd>
    <dl>
</div>

<% if property_owner_signed_in? %>
    <h3>Reservas</h3>
    <% @property.property_reservations.each do |pr| %>
        <h4>Reserva de <%= pr.user.email %></h4>
        <dl>
            <dt>Data de inicio</dt>
            <dd><%= l pr.start_date %></dd>

            <dt>Data de termino</dt>
            <dd><%= l pr.end_date %></dd>

            <dt>Total de pessoas</dt>
            <dd><%= pr.guests %></dd>

        </dl>
    <% end %>
<% else %>
    <h3>Verificar datas</h3>
    <%= form_with model: [@property, @property_reservation] do |f| %>
        <%= f.label :start_date, 'Data de início' %>
        <%= f.date_field :start_date %>

        <%= f.label :end_date, 'Data de término' %>
        <%= f.date_field :end_date %>

        <%= f.label :guests, 'Quantidade de pessoas' %>
        <%= f.number_field :guests, step: 1 %>

        <%= f.submit 'Enviar reserva' %>
    <% end %>
<% end %>

<%= link_to 'Voltar', root_path, :class => 'back_button' %>