<h1>Flats</h1>
<h3>Boas vindas ao sistema de locação de apartamentos</h3>

<% unless @properties.empty? %>
    <div id="properties">
    <% @properties.each do |property| %>
        <div id=<%= "property-#{property.id}" %>>
            <h4><%= link_to property.title, property_path(property), :class => "details_link title" %></h4>
            <p class="description"><%= property.description %></p>
            <p class="rooms">Quartos: <%= property.rooms %></p>
            <p class="parking_available">Tem estacionamento? <%= property.parking_available ? "sim" : "não" %></p>
        </div>
    <% end %>
    </div>
<% else %>
    <div id="no_properties_note">
        <p>Nada ainda :(</p>
    </div>
<% end %>