<style>
    #filtering { display: inline-block; }
</style>

<header>
    <h1>Flats</h1>
    <h3>Boas vindas ao sistema de locação de apartamentos</h3>

    <nav>
        <%= link_to "Cadastrar tipo de imóvel", new_property_type_path, :id => 'type_register_link' %>
        <%= link_to "Cadastrar região", new_property_location_path, :id => 'location_register_link' %>
    </nav>
</header>

<br>
<div id="filtering">
    <h4>
    <%= form_with url: filter_path, method: :get do |form| %>
        Filtrar:
        <br>
        <span>
            <%= form.label :property_type_filter, 'Tipo de propriedade ' %>
            <%= form.select :property_type_filter, options_for_select(
                @property_types_selection_list, 
                selected = @selected_property_type_id
                ) %>
        </span>
        |
        <span>
            <%= form.label :property_location_filter, 'Região ' %>
            <%= form.select :property_location_filter, options_for_select(
                @property_locations_selection_list, 
                selected = @selected_property_location_id
                ) %>
        </span>
        |
        <span>
            <%= form.submit 'Procurar' %>
        </span>
    <% end %>
    </h4>
</div>

<h2><%= @filtered ? "Imóveis encontrados:" : "Lista de imóveis:" %></h2>

<%= render 'shared/properties' %>
